body{
  background-color: lightblue;
  margin-left: 200px;
}
h1, h2, h3{


}
img{
  width: 400px;
}
ul{
  list-style-type: none;
  padding: 10px;

}

li{
display: inline;
}
li>a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
